.trending {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.MuiCard-root {
  box-shadow: 0 4px 8px 0 rgb(240, 240, 240, 0.3);
  transition: 0.3s;
}

.card-content {
  font-size: 12px;
  color: azure;
}

.overview {
  position: relative;
  text-decoration: ellipsis;
  overflow: hidden;
  height: 4.6em;
}

/* .overview::after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
  height: 1.6em;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 50%
  );
} */

.overview::after {
  position: absolute;
  content: "...";
  inset-block-end: 0; /* "bottom" */
  inset-inline-end: 0; /* "right" */
}

.carousal{
  width: 80vw;
}

h2{
  text-align: center;
}